* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/* header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#181818;
    color: white;
    padding: 8px 12px;
    font-size: 24px;
}

header .header__logo i {
    color: red;
    margin-right: 4px;
}

/* player */
.player {
    display: flex;
    justify-content: center;
    background-color: black;
}

/* metadata */
.metadata {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
}

.metadata .hashtags {
    display: flex;
    flex-direction: row;
    color: #045FD4;
    font-size: small;
}

.metadata .hashtags li {
    margin-right: 8px;
}

.metadata .view {
    font-size: small;
    color: #909090;
}

.metadata .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #909090;
    margin-top: 16px;
}

.metadata .icons li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metadata .icons li span {
    margin-top: 8px;
}

/* info */
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-top: 0.5px solid #909090;
    border-bottom: 0.5px solid #909090;
}

.info .info__channel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info .avator {
    flex-basis: 5%;
    width: 48px;
}

.info .info__channel__nameAndSubscribers {
    font-size: small;
}

.info .info__subscribe {
    color: red;
}

/* Up Next*/
.upNext {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
}

.upNext .title {
    color: #909090;
    font-size: small;
}

.upNext .upNext__video {
    display: flex;
    margin-top: 1%;
}

.upNext .upNext__video .upNext__video__data {
    display: flex;
    flex-direction: column;
    }

.upNext .upNext__video img {
    width: 30%;
    margin-right: 2%;
    margin-bottom: 1%;
}

.upNext .upNext__video .upNext__video__data .upNext__video__channel,
.upNext .upNext__video .upNext__video__data .upNext__video__views {
    font-size: small;
    color: #909090;
    margin-top: 4px;
}


@media screen and (min-width: 768px){
    .infoAndUpnext {
        display: flex;
        flex-direction: row;
    }

}